@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('☺'), url('../fonts/Gilroy-Medium.woff') format('woff'), url('../fonts/Gilroy-Medium.ttf') format('truetype'), url('../fonts/Gilroy-Medium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: local('☺'), url('../fonts/Gilroy-ExtraBold.woff') format('woff'), url('../fonts/Gilroy-ExtraBold.ttf') format('truetype'), url('../fonts/Gilroy-ExtraBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('☺'), url('../fonts/Gilroy-Bold.woff') format('woff'), url('../fonts/Gilroy-Bold.ttf') format('truetype'), url('../fonts/Gilroy-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Chronicle Display';
    src: url('../fonts/Chronicle Display Semibold.eot');
    src: local('☺'), url('../fonts/Chronicle Display Semibold.woff') format('woff'), url('../fonts/Chronicle Display Semibold.ttf') format('truetype'), url('../fonts/Chronicle Display Semibold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Chronicle Display';
    src: url('../fonts/Chronicle Display Bold.eot');
    src: local('☺'), url('../fonts/Chronicle Display Bold.woff') format('woff'), url('../fonts/Chronicle Display Bold.ttf') format('truetype'), url('../fonts/Chronicle Display Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
body {
    background: #0B1D26;;
    background-image: url(../img/Group\ 18.png);
    background-repeat: no-repeat;
}
header {
    display: flex;
    flex-direction: row;
    max-width: 1760px;
    justify-content: space-between;
    margin: 80px 64px;
}
header .links {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    
    }
header .links a, header .login a {
    text-decoration: none;
    color: #FFFFFF;
}
header .login {
    font-family: 'Gilroy';
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 8px;
    text-align: center;
}
/* ------------------------ */
nav {
    display: flex;
    flex-direction: row;
    max-width: 1760px;
    justify-content: space-between;
    margin: 198px 64px 843px;
}
.navi .social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 24px;
    height: 173px;
    margin-top: 72px;

}
.navi .social .follow {
    writing-mode: vertical-rl;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.navi .explore {
    max-width: 42px;
    height: 208px;
    font-family: 'Gilroy';
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 32px;
    margin-top: 72px;
}
.navi .explore .verticalline {
    width: 3px;
    height: 240px;
    background: #FFFFFF;
    opacity: 0.5;
}
.navi .containerblock1 h1 {
    font-family: 'Chronicle Display';
    font-style: normal;
    font-weight: 600;
    font-size: 88px;
    line-height: 100px;
    color: #FFFFFF;
    max-width: 950px;
    margin-top: 32px;
    margin-bottom: 32px;

}
.navi .containerblock1 .more-narrow .more {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #fff;

}
main {
    max-width: 1462px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 229px;
    margin-right: 229px;
}
section {
    /* opacity: 0.8; */
}
.container {
    /* background: #0B1D26; */
    /* row-gap: 200px; */
}
.container .containerblock1 {
    margin: 141px 114px 140px 150px;
    /* display: flex;
    flex-direction: column;
    max-width: 632px; */

}
.section .reverse {
    flex-direction: row-reverse;
}
.container .containerblock1 .count {
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-style: normal;
    opacity: 0.1;
    font-weight: 700;
    font-size: 240px;
    position: absolute;
    margin-left: -150px;
    margin-top: -122px;
}
.container .containerblock1 .linerow, .navi .containerblock1 .linerow {
    display: flex;
    flex-direction: row;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
}
.container .containerblock1 .line, .container .containerblock1 .line2, .navi .containerblock1 .line,
.navi .containerblock1 .line2 {
    color: #FBD784;
    text-transform: uppercase;
}
.container .containerblock1 .line, .navi .containerblock1 .line {
    background-color: #FBD784;
    max-width: 72px;
    height: 2px;
    margin-top: 20px;
}
.container .containerblock1 .line2, .navi .containerblock1 .line2 {
    margin-left: 24px;
}
.container .containerblock1 h2 {
    font-family: 'Chronicle Display';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF;
}
.container .containerblock1 p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

.container .containerblock1 .more-narrow .more {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FBD784;
}
.container .containerblock1 .more-narrow, .navi .containerblock1 .more-narrow {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container .containerblock1 .more-narrow .narrow, .navi .containerblock1 .more-narrow .narrow {
    max-width: 16px;
    height: 24px;
    margin-left: 16px;
    margin-top: 7px;
    
}
.container .containerblock1, .container .containerblock2 {
    width: 50%;
}
.container .containerblock2 {
    max-width: 566px;
}
.container .containerblock2 img {
    max-width: 100%;
}



footer {
    max-width: 1462px;
    margin: 0 auto;
}
.footer, .container {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.footer .block1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
}
.footer .block1 .copyright {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 0.5;
}
.footer .block2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.footer .block2 .footermenu {
    max-width: 190px;
    margin-left: 170px;
}
.footer .block2 .footermenu h4 {
    color: #FBD784;
    Font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.footer .block2 .footermenu ul {
    padding: 0px;
}
.footer .block2 .footermenu ul li {
    list-style: none;
}
.footer .block2 .footermenu ul li a {
    color: #FFFFFF;
    text-decoration: none;
    Font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;

}
.footer .logo, header .logo {
    color: #FFFFFF;
    font-family: 'Chronicle Display';
    font-size: 32px;
    line-height: 38px;

}
.footer .block1 p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    max-width: 303px;
    margin: 0%;
}
@media (max-width: 1200px) {
    body{
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    body {
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    body {
        max-width: none;
    }
}
/* @media screen  and (min-width: 600px) {
    body {
        min-height: 100vh;
    } */
    /* .container {
        flex-direction: column;
        min-height: 100%;
        flex: 1 1 auto;
    } */
}